/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Pallete!
#D2D9DF - off white
#62696E - grey
#045893 - lighter bleue
#001D31 - dark blue
#000000 - black
 */

#top_nav{
  background-color: #001D31;
  color: #D2D9DF;
  padding: 40px;
}

#top_nav a:visited{
  color: #D2D9DF;
}

.page_header{
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px;
}
