/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Pallete!
#D2D9DF - off white
#62696E - grey
#045893 - lighter bleue
#001D31 - dark blue
#000000 - black
 */

#top_nav{
  background-color: #001D31;
  color: #D2D9DF;
  padding: 40px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

#top_nav a:visited{
  color: #D2D9DF;
}

.main{
    margin-top: 150px;
}

.page_header{
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.project_listing{
  display: block;
  width: 800px;
  min-height: 50px;
  background-color: #045893;
  transition: background-color .5s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000000;
  border-radius: 25px;
  padding: 20px;
}

.project_listing:hover{
  background-color: #62696E;
}

project_listing li{

}

ul{
  list-style-type: none;
}

a.project_link{
  text-decoration: none;
  color: #000000;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
